
.tarefas{
    margin-top: 30px;
    
}

.tarefas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
    text-shadow: 2px 2px #ffff40 ;
    
}

.tarefas li:hover{
    box-shadow:  0 0 15px yellow;
    border: solid 2px black;
    border-radius: 5px;
    transition: all 100ms;
    
}

.tarefas li .edit{
    margin-right: 15px;
    background-color:  #ffff40 ;
    cursor: pointer;
}

.tarefas li .delete {
   color: red;
   cursor: pointer;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete{
    border: solid black 1px;
    border-radius: 5px;
    transition: all 100ms;
}


.tarefas li span {
    display: flex;
    align-items: center;
}